*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color:red;
    color: white;
 
}
ul{
    display: flex;
    
}
li{
    margin-right: 10vh;
    list-style: none;
    font-weight: bold;
    

}
li,a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
li a:hover{
    color: blue;
}
.didi{
    width: 10vh;
}
.dingue{
    color: red;
}
.pp{
    border: 2px solid;
    height: 85vh;
    text-align: center;
    
    
}
.pic{
    background-image: url(photo\ de\ groupe.webp);
   background-size: cover;
   background-position: center;
   opacity: 0.8;
  
   
}

.pp h2 {
    position:relative;
    top: 20vh;
 
}
.pp p {
    position: relative;
    top:20vh;
}
/*fin de la première section*/

.pro{
    background-color: red;
    text-align: center;
    color: white;
    font-size: 25px;
}
.paragraphe{
    font-size: 25px;
}
.bloc{
    display: flex;
    justify-content: space-around;
}
.bloc1,.bloc2,.bloc3{
    border: 2px solid black;
    background-color: red;
    color: white;
    text-align: center;
    max-width: 400px;
    width: 400px;
    height: 100px;
}
.bloc div{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3 s ease-in-out;
    transition: .3 s ease-in-out;

}
.bloc div :hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
button{
    border-radius: 10px;
    width: 95px;
    background-color: black;
    color: white;
}

/* debut formulaire de contact*/

#cont {
    background-color: red;
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 30px;
}

.formulaire {
    max-width: 500px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: red;
    position: relative;
    padding: 20px;
}


.formgrup {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

#bouton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/*fin form*/

/*compétences développées*/


.Compétences-conteneur {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.Compétences {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 500px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(248, 2, 2, 0.473);
    text-align: center;
}

img {
    width: 400px;
}

h3 {
    color: red;
}

/*outils maitrisés*/
h1 {
    text-align: center;
    
}
.mescompetences{
    margin-left: 30px;

}

.listecompetence {
    list-style-type: none;
    padding: 0;
    max-width: 300px;
    margin-left: 200px;
    
}

.outils {
    width: 100px;
}

.listecompetence li {
    background-color: red;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.listecompetence li:hover{
    background-color: gray;
}


/* pied de page*/

.footer {
    background-color: #000;
    padding: 20vh;
}

.conteneur {
    display: flex;
    justify-content: space-between;
}

.socialmedia a {
    margin-left: 30px;
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
}



.copyright {
    color: white;
    margin-left: 5px
}


